---
layout: default
---
<section class="jumbotron text-center">
  <div class="container"> 
  <h1 class="jumbotron-heading">Mulheres de Produto</h1>
    <p class="lead text-muted">Uma comunidade no Slack e na vida real para toda pessoa que se identifica como mulher que atua na tecnologia ou tem
    interesse de participar nas carreiras de tecnologia.</p>
  </div>
</section>

  {{ content }}



  {%- if site.posts.size > 0 -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
  
  <div class="card-columns">
    {%- for post in site.posts -%}
    <div class="card">
      {%- if site.post.feature_image -%}
      <img class="card-img-top" src="{{ post.feature_image.path }}" alt="{{ post.feature_image.title }}">
      {%- endif -%}
      
      {%- if site.post.feature_category -%}
        {% for post in site.categories[page.category] %}
          <a href="{{ post.url | absolute_url }}">
            {{ post.title }}
          </a>
        {% endfor %}

        <p>
          <a class="badge badge-primary" href="{{ post.feature_category.url | relative_url }}">
            {{ post.feature_category | escape }}
          </a>
        </p>
      {%- endif -%}

      <h5 class="card-title">
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h5>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <small class="text-muted">{{ post.date | date: date_format }}</small>
      {%- if site.show_excerpts -%}
        <div class="card-body">
          <p class="card-text">
            {{ post.excerpt }}
          </p>
        </div>
      {%- endif -%}
    </div>
    {%- endfor -%}
  </div>

  <p class="rss-subscribe">subscribe
    <a href="{{ " /feed.xml " | relative_url }}">via RSS</a>
  </p>
  {%- endif -%}

